<head>
    <link rel="icon" href="/static/dist/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kuletw/lazy@4.6/dist/css/lazy4.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kuletw/lazy@4.6/dist/css/lazy4-brands.css">
    <link href="/static/dist/css/app.css" rel="stylesheet">
</head>    
<body>
    <div id="app">

    </div>
</body>
    
    
    <script src="/static/dist/js/chunk-vendors.js"></script><script src="/static/dist/js/app.js"></script><script></script>
